#hero {
  position: relative;
  z-index: 99;
  background-size: cover;
  background-position: top center;
  background-image: url('/assets/img/hero-bg.jpg');


  .grid-x {
    padding-top: 100px;
    padding-bottom: 100px; //remove when the image get there
    min-height: 100vh;
  }
}

.hero_content {
  background-color: white;
  padding: 24px;

  @include breakpoint(medium) {
    padding: 48px;
  }

  .hero_description {

  }

  .published {
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;

    &:before {
      content: '';
      display: block;
      margin: 20px 0;
      height: 4px;
      width: 125px;
      background-color: $yellow;
    }
  }
}