<div class="cell medium-12 margin--bottom-none margin--top-small">
  <p class="callout light-blue margin--bottom-none">
    <span class="label light-blue">CO-IMPACT
  </p>
</div>

<div class="cell medium-12 margin--bottom-small coimpact">
  <div class="grid-x">
    <div div class="cell medium-12 large-12 text-columns">
      <img style="max-width: 150px;" class="float-left margin--right-small" src="/assets/img/coimpact-logo.png"/>
    
      <p>
        Co-Impact, a global collaborative working for systems change that would benefit millions of people worldwide, provides a case in point. 
      </p>

      <p>
        After spending years working in philanthropy, government and the nonprofit sector, Co-Impact’s founder, Olivia Leland, recognized a key challenge – the lack of a sufficient mechanism to allow philanthropists and others to pool the significant funds and resources that social change leaders need to drive systemic, enduring change. A year of focused research confirmed this hypothesis, and Leland set about building a global collaborative that would support comprehensive efforts to improve human well-being through health, education and economic opportunity. But setting up a new independent organization would take time and divert the team’s resources away from the core work of supporting systems change efforts.
      </p>

      <p>
        So Leland and her growing Co-Impact team turned to New Venture Fund. NVF’s comprehensive fiscal sponsorship structure enabled the Co-Impact team to set up quickly, receive the funding committed from those who would become the organization’s core funders, and focus on the mission-critical work of sourcing, structuring and supporting initiatives to achieve breakthroughs at national or regional scale in low- and middle-income countries. 
      </p>

      <p>
        Co-Impact launched in November 2017 with bold ambitions to mobilize more philanthropy for systems change efforts so that millions of people experience meaningful and sustained improvements in their lives. In January 2019, the organization announced its first round of grants and is currently sourcing for a second round.
      </p>

      <img class="margin--bottom-small" src="/assets/img/coimpact-image.png"/>

      <p>
        “New Venture Fund is a wonderful institutional home for what we’re trying to do,” says Pam Foster, Co-Impact’s COO. “They understand our mission and do everything they can to support us in every way possible. Fundamentally, NVF is an amazing platform for us to be able to do what we do and keep our operational footprint light.”
      </p>

      <p>
        Whether with NVF or other partners, Co-Impact emphasizes collaboration as a key ingredient for systems change. Collaboration among local communities, nonprofits, governments, businesses and others enables the deep systemic work needed to benefit millions of people in a lasting way. Collaboration among philanthropists and other funders means far greater impact, by providing greater and more flexible support over the long term to those leading systems change efforts. By creating a flexible model to pool and/or align resources, networks and expertise, Co-Impact and its partners seek to achieve far more than any one actor could alone. NVF provides Co-Impact with services and support it needs to help drive needed change.
      </p>
    </div>
  </div>
</div> 