<section id="fund" class="main-section">
  <div class="grid-container">
    <div class="grid-x flex-container">
      <div class="cell large-12 fund_content">
        <header class="section margin--bottom-small">
          <p class="description">The Future of</p>
          <h2 class="green">New Venture Fund</h2>
        </header>
        <div class="grid-x">
          <div class="cell medium-8 medium-offset-4 large-9 large-offset-3">
            <p>
              A central tenet guides our values: Get resources into the hands of social entrepreneurs and nonprofits who are solving the world’s most complex problems as our best bet to create a more just and equitable society. We remain committed to this vision. Now more than ever, we have a moral responsibility — and the resources — to support members of global communities who will lead us into the future.
            </p>
            <p>
              The 150 projects underway serve as a lab that is generating tremendous learning. NVF is exploring how we can share learnings not only among the projects, but among their networks to make the fields we work in stronger.
            </p>
          </div>
          <div class="large-12 cell">
            <p class="callout green">
              Now more than ever, we have a moral responsibility — and the resources — to support members of global communities who will lead us into the future.
            </p>
          </div>
          <div class="cell medium-8 medium-offset-4 large-9 large-offset-3">
            <p>
              Change doesn’t happen only outside of NVF. We have learned valuable lessons in the past five years ranging from the need for digital security to how to cultivate harassment-free workplaces. What we learn, we spread through our growing network of projects and donor organizations. We have an active diversity, equity and inclusion initiative underway that will affect how we do our work and whom we work with.
            </p>

            <p>
              We continue what we started: a well-run, constantly evolving and improving organization, offering best-in-class project support where leaders and donors can go from start-up to stand-up because we have no time to waste.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>