<section id="hero" class="main-section">
  <div class="grid-container">
    <div class="grid-x flex-container">
      <div class="cell large-8 medium-8 hero_content medium-offset-2 large-offset-2 align-self-middle">
        <h1>New Venture Fund</h1>
        <p class="hero_description">Executive Summary of our Report: Using Philanthropy to Shape a More Just, Equitable and Sustainable Future</p>
        <p class="published">Published December 2019</p>

        <div class="hero_links margin--top-small">
          <a class="logo" href="https://newventurefund.org">
            <img src="/assets/img/nvg-logo.svg"/>
          </a>

          <a class="button small" href="/assets/img/NVF-Impact-Report-R7-web.pdf" target="_blank">Download The Full Report</a>
        </div>
      </div>
    </div>
  </div>

  <span class="arrow--down"></span>
</section>