<section id="letter" class="main-section pad--vertical bg--white">
  <div class="grid-container">
    <div class="grid-x grid-margin-x margin--bottom-small letter_header">
      <div class="cell medium-4 large-3">
        <img src="/assets/img/lee-thumb.png"/>
      </div>
      <div class="cell medium-7">
        <header class="section">
          <h2 class="blue">Letter</h2>
          <p class="description">from Lee Bodner, President of New Venture Fund (NVF)</p>
        </header>
      </div>
    </div>
      
    <div class="grid-x content grid-margin-x">
      <div class="cell medium-8 medium-offset-4 large-9 large-offset-3">
        <p>
          The New Venture Fund’s mission is bold but ultimately simple. We aim to help build a just, equitable, and sustainable future by getting the right types of philanthropic capital into the hands of people with the right ideas, at the right times, in the right places to accomplish needed change. 
        </p>
        <p>
          NVF was founded for donors in search of an efficient way to accomplish this goal and, from the start, we have existed to support social entrepreneurs and nonprofits working to create this better future. We understood early on that one key to addressing the realities of deepening inequality and persistent systemic challenges was to focus donor contributions so that more great ideas could come to life faster. Our goal was to see more leaders getting green lights for life-changing innovations rather than being blocked by lack of resources, cut off by shortage of expertise or drowned by unnecessary bureaucratic processes. Recognizing that current philanthropic practices sometimes reinforce funding inequities, NVF has aimed to provide an antidote — to build bridges between donors and frontline groups and to democratize funding, all so that more capital gets into the hands of those with the ideas and commitment to make lasting change.  
        </p>
        <p>
          At New Venture Fund, we recognize that to shape a more just and equitable future, philanthropy must play an active role in deconstructing systems that prevent members of global communities from reaching their full potential. So we have envisioned a new way to invest in social change leaders and their capacity to do the important work the world needs done today. Established with seed funding in 2006, NVF now manages a charitable portfolio of more than $356 million across nine regions around the globe. We’ve launched 500 projects and are still growing. We attribute this to donors’ growing trust in the model NVF has deployed and their appetite for investing in scalable solutions that have maximum impact.  
        </p>
        <p>
          I hope you will take a few moments to read the five-year summary below and enjoy a few stories that illustrate our work more deeply. Our donor partners took a chance, and it has paid off. NVF projects have advanced health equity movements in the United States by tackling food deserts in marginalized neighborhoods. They have ensured that research funded by American tax dollars remains public, free and accessible to all Americans to read for themselves. They have safeguarded women’s voices from places like Kenya and Bangladesh as they offer firsthand accounts of the impact of climate change and advocate for ambitious mitigation and adaptation efforts. For more about the New Venture Fund, please visit NewVentureFund.org. 
        </p>
        <p>
          Our collective future depends on good ideas getting to market. At NVF, we are committed to getting them there as soon as humanly possible
        </p>
        <img style="max-width: 300px;" class="margin--bottom-small" src="/assets/img/bodner signature.jpg"/>
        <p>
          Lee Bodner
        </br>President, New Venture Fund 
        </p>
      </div>
    </div>
  </div>
</section>