<section id="projects" class="main-section">
  <div class="grid-container pad--vertical">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-8 margin--bottom-small">
        <header class="section">
          <p class="description">Portfolio of</p>
          <h2 class="purple">Projects & Regions</h2>
        </header>
      </div>

      <div class="cell medium-8 medium-offset-4 large-9 large-offset-3 margin--bottom-small">
        <p>
          We are working in five top issue areas across nine regions of the world, including 48 states and the District of Columbia in the U.S.: 
        </p>
        <img class="margin--top-small margin--bottom-small" src="/assets/img/projects-image.svg"/>
        <p>
          In addition, we welcome projects that align with our values to help make the world more just, sustainable and equitable.
        </p>
        <p>
          Graphic 4 shows NVF’s allocation of funds across these issue areas and other projects, while Table 1 shows NVF’s distribution of funds across regions globally.
        </p>
      </div>

      <div class="cell medium-12 margin--bottom">
        <p class="callout purple">
          <span class="label purple">Graphic 4</span>
          Allocation of funds to issue areas and projects from 2013-2018
        </p>
        <img class="margin--top-small" src="/assets/img/projects-graph.svg"/>
      </div>

      <div class="cell medium-12 margin--bottom-small">
        <p class="callout purple">
          <span class="label purple">Table 1</span>
          Allocation of funds across regions from 2013-2018
        </p>
        <img class="margin--top-small" src="/assets/img/projects-table.svg"/>
      </div>
         
    </div>
  </div>
</section>