<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="#hero" class="dot name-active"><span>Hero</span></a></li>
      <li><a href="#table" class="dot"><span>Table of Contents</span></a></li>
      <li><a href="#letter" class="dot"><span>Letter from the President</span></a></li>
      <li><a href="#overview" class="dot"><span>Overview</span></a></li>
      <li><a href="#backers" class="dot"><span>Backers</span></a></li>
      <li><a href="#model" class="dot"><span>Model</span></a></li>
      <li><a href="#projects" class="dot"><span>Projects</span></a></li>
      <li><a href="#fund" class="dot"><span>Fund</span></a></li>
    </ul>
  </nav>
</aside>