<div class="cell medium-12 margin--bottom-none margin--top-small">
  <p class="callout light-blue margin--bottom-none">
    <span class="label light-blue">Sparc
  </p>
</div>

<div class="cell medium-12 margin--bottom-small sparc">
  <div class="grid-x">
    <div div class="cell medium-12 large-12 text-columns">
      <img style="max-width: 150px;" class="float-left margin--right-small" src="/assets/img/sparc-logo.png"/>
    
      <p>
        SPARC needed a new home. Fast. It had focused on something very important that needed immediate attention. 
      </p>

      <p>
        The United States spends approximately $60 billion of taxpayer money every year on scientific research. Until recently, taxpayers might have been under the impression that they could visit the websites of the National Institutes of Health, the National Science Foundation, or NASA to find the results of that research. However, that wasn’t the case. The only way taxpayers could review taxpayer-funded research was to pay substantial subscription fees to access costly scientific journals. The Scholarly Publishing and Academic Resources Coalition (SPARC) believes that if American taxpayers are going to pay for research, they should have the right to access the results — for free. 
      </p>

      <p>
        Not providing American taxpayers ready access to publicly funded research is inequitable and prevents people from having open access to knowledge. Scientists embark on research to uncover new information and share their discoveries with others who then can build on those findings, today or in the future. That is how knowledge advances, and SPARC is committed to taking down barriers that keep this from happening. 
      </p>

      <img class="margin--bottom-small" src="/assets/img/sparc-image.png"/> 
      
      <p>
        SPARC began as a project of the Association of Research Libraries (ARL). Soon, project leaders realized that they would need to address the problem at its source, by changing the underlying rules for how publicly funded research is shared. Changing the system would require engaging in aggressive, high-level advocacy in the United States and across the globe. SPARC would need to find a new home from where it could leap into action. That’s when NVF stepped in and provided SPARC the space to get clear on the problem, sound the alarm and mount the advocacy to make sweeping changes — all without taking on the high overhead costs of managing an independent organization.
      </p>

      <p class="alternate light-blue">
        NVF offers encouragement and skills to live the values we want to see in the world.
      </p>

      <p>
        We seek projects that operate in equitable and inclusive ways. At NVF, each project creates an advisory board to govern its work, and we suggest they include people closest to the issues they address. Upon joining with NVF, all projects must participate in diversity, equity and inclusion training, and they have access to best-in-class expertise to live the values they want to see in the world. 
      </p>

      <p>
        As big believers in measuring what matters, we track whom we work with, who works for us, who runs the projects and who advises them. We’ve backed dozens of projects that have made the world a more just, equitable and sustainable place. At NVF, our ambition is to use the collective work of our projects to improve philanthropy. 
      </p>
    </div>
  </div>
</div> 