<section id="table" class="main-section bg--offwhite">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-3 table_image-container">
        <div class="table_image"></div>
      </div>

      <div class="table_contents pad--half medium-9 cell">
        <header class="section">
          <p class="description">Table of</p>
          <h2 class="blue">Contents</h2>
        </header>

        <div class="grid-x content_items margin--top-half grid-margin-x">
          <div class="cell small-12 medium-8 item">
            <a href="#letter" class="link"></a>
            <p>Letter from Lee Bodner, President of New Venture Fund</p>
          </div>
          <div class="cell small-12 medium-8 item">
            <a href="#overview" class="link"></a>
            <p>An Overview of the New Venture Fund </p>
          </div>
          <div class="cell small-12 medium-8 item">
            <a href="#backers" class="link"></a>
            <p>Our Backers</p>
          </div>
          <div class="cell small-12 medium-8 item">
            <a href="#model" class="link"></a>
            <p>Our Model</p>
          </div>
          <div class="cell small-12 medium-8 item">
            <a href="#projects" class="link"></a>
            <p>Portfolio of Projects and Regions</p>
          </div>
          <div class="cell small-12 medium-8 item">
            <a href="#fund" class="link"></a>
            <p>The Future of New Venture Fund</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>